<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homePage</title>
    <link rel="stylesheet" href="/css/homePage.css" />
  </head>
  <body>
    <ul>
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/create">Create user</a></li>
    </ul>
    <h1>A Fancy Table</h1>
    <div class="container">
      <table id="customers">
        <tr>
          <th>ID.</th>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Action</th>
        </tr>
        <% ListUsers.map((users,index)=>{%>
        <tr>
          <td><%= users.id %></td>
          <td><%= users.name %></td>
          <td><%= users.email %></td>
          <td><%= users.city %></td>
          <td>
            <div
              style="display: flex; gap: 20px; justify-content: space-around"
            >
              <button><a href="/update/<%=users.id%>">update</a></button>
              <form action="delete-user/<%=users.id%>" method="post">
                <button>delete</button>
              </form>
            </div>
          </td>
        </tr>
        <%})%>
      </table>
    </div>
  </body>
</html>
